@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #1b95d2 #191414;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #191414;
}

::-webkit-scrollbar-thumb {
  background-color: #1b95d2;
  border-radius: 10px;
  border: 3px solid #191414;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b95d2;
}

::-webkit-scrollbar-thumb:active {
  background-color: #1b95d2;
}

.ql-container {
  background-color: #191414;
  color: #fff;
  border: 0 !important;
}

.ql-editor {
  background-color: #121212;
  color: #fff;
}

.ql-selection {
  background-color: #282828;
}

.form-comment .ql-snow {
  border: 2px solid #ffffff85 !important;
}

.tags-select .p-multiselect-item {
  background-color: white !important;
}

.p-multiselect-item span {
  color: white;
}

.p-multiselect-header {
  background-color: #000;
}

.p-multiselect-items .p-focus span {
  color: black !important;
}

.p-multiselect-filter-container .p-inputtext {
  color: white !important;
}

.hidden-summary-list-user {
  display: none;
}

.datable-user-list td,
.datable-user-list .p-datatable-header,
.datable-user-list th {
  background-color: #121212 !important;
}

.p-dropdown,
.p-dropdown :focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none;
}

@media (width <= 1200px) {
  .ql-editor img {
    width: 100% !important;
    height: auto !important;
  }
}

@media (width <= 550px) {
  .hidden-summary-list-user {
    display: flex;
  }

  .hidden-list-user {
    display: none;
  }
}

@media (width<=430px) {
  .info-topic-detail {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .created-by img {
    width: 15vw;
    height: 15vw;
  }

  .contain-btn-detail-topic {
    border: 0;
    margin: 0;
  }

  .contain-reactions {
    margin: 1.5rem 0;
  }

  .contain-btn-topic-detail {
    margin: 0 auto;
  }
}
