.custom-dialog .p-dialog-header {
	background-color: #262626;
	border-radius: 10px 10px 0 0; 
}
.p-dialog-header-icon {
	color:white
}

.title-multicolor {
	background: linear-gradient(
		to right,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet
	);
	-webkit-background-clip: text;
	color: transparent;
}

.custom-nav-menu .p-menu {
	position: relative;
	z-index: 1000;
}

.p-button:focus {
	outline: none;
	box-shadow: none;
}
.p-dropdown:focus {
	outline: none;
	box-shadow: none;
	border: none;
}
.custom-dropdown {
	background-color: #404040 !important;
}

.p-dropdown-panel {
	background-color: #404040 !important;
}

.p-dropdown-header {
	background-color: #404040 !important;
}

.p-dropdown-item {
	background-color: #404040 !important;
}

.p-dropdown-item.p-highlight {
	background-color: #404040 !important;
}
.p-dropdown-label {
	color: white;
}
.p-dropdown-trigger {
	color: white;
}
.p-dropdown-filter {
	background-color: white !important;
	color: #404040;
}
.p-dropdown-empty-message {
	background-color: #404040 !important;
	color: white;
}
