.loader-page {
  z-index: 25000;
  color: #ffffff;
  margin: 100px 0px 100px;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-align: center;
}

.loader-page::before {
  content: '';
  position: absolute;
  border: 4px solid rgb(50, 150, 176);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}

@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-page::after {
  content: '';
  position: absolute;
  border: 4px solid rgba(50, 150, 176, 0.5);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}
