.userCardContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 12px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(89, 89, 89) -20%,
    rgba(32, 32, 32) 80%
  );
  min-width: 450px;
  gap: 16px;
}

.brandContainer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
}

.brandContainer figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.brandContainer figure img {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.brandContainer figure img:hover {
  transform: scale(1.05);
}

.brandContainer figure::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 16px;
  width: 90px;
  height: 90px;
  background: linear-gradient(90deg, #d4d4d4 25%, #e0e0e0 50%, #d4d4d4 75%);
  border-radius: 50%;
  animation: shine 2s linear forwards;
}

.personal-name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.personal-name h2 {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}

.personal-name h2:hover {
  color: white;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.9);
}

.userInfo span {
  padding: 0 8px;
}

.userInfo small {
  padding: 0 8px;
}

@keyframes shine {
  0% {
    background-position: -150px 0;
  }
  100% {
    background-position: 150px 0;
  }
}

@media (max-width: 768px) {
  .userCardContainer {
    min-width: 260px;
  }

  .brandContainer {
    flex-wrap: wrap;
  }

  .brandContainer figure img{
    width: 75px;
    height: 75px;
  }

  .brandContainer figure::before {
    width: 75px;
    height: 75px;
  }

  .personal-name section h2 {
    font-size: 24px;
  }

  
  .personal-name span{
    font-size: 16px;
  }

  .userInfo strong{
    flex-wrap: wrap;
  }
}
