.p-datatable{
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.p-datatable-header {
    background-color: #1e1e1e;
}

.column-header{
    font-size: 17px;
    font-weight: 700;
    position: 'relative';
    background-color: #1e1e1e;
    color: rgb(205, 205, 205);
}

.column-header:focus{
    color: white;
}

.column-header span{
    text-align: center;
}

.column-row {
    font-size: 18px;
    width: 15%;
    color: white;
    background-color: #2a2a2a;
    border-top: 2px solid rgba(128, 128, 128, .3);
    cursor: default;
}

.p-datatable-emptymessage {
    color: white;
    background-color: #2a2a2a;
    text-align: center;
    padding: 10px;
}
